<!-- {{


  data|json
}} -->
<!--
{ "id": 1, "title": "Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops", "price": 109.95, "description": "Your perfect pack for everyday use and walks in the forest. Stash your laptop (up to 15 inches) in the padded sleeve, your everyday", "category": "men's clothing", "image": "https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg", "rating": { "rate": 3.9, "count": 120 } } -->

<div class="container">
  <p class="text-center h2 mt-2">Product</p>
  <hr />
</div>
<div class="container">

  <div class="row">
    <!-- Product Card-->


    <div class="col col-md-4 col-sm-12 mb-5" *ngFor="let x of data">
      <div class="card p-2 "style="width: 18rem;" >
        <img [src]="x.image" class="card-img-top  card-image-center w-100" style="height: 300px;" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{x.title}}</h5>
          <p class="card-text">
            RS : {{x.price}}
          </p>
          <p>Rating: {{
          x.rating.rate
          }}</p>

        </div>
      </div>
    </div>


  </div>
</div>
