
<div class="container">

  <p class="h1 fw-bolder text-danger text-center">
    {{duration}}
  </p>
</div>
<!-- <p>exam works!</p> -->

<div class="container border border-2 p-5 rounded-2 " >

  <div >

    <div  *ngFor="let x of data">

      <ng-container *ngIf="x.id ==index">
        <p>
          {{x.id}}. {{ x.question }}
        </p>

        <ng-container *ngFor="let y of x.options" >
          <div>

            <input type="radio" name="radio" [id]="y" [value]="y" class="m-2" [(ngModel)]="userans">
            <label [for]="y">{{y}}</label>
          </div>
        </ng-container>
      </ng-container>
    </div>
    <br>
    <button (click)="nextquestion()" *ngIf="(ansArr.length) != (data.length)-1; else otherbtn" class="btn btn-danger">next</button>
    <ng-template #otherbtn>
    <button (click)="nextquestion();clacResult()" routerLink="/result" id="submit" class="btn btn-danger">submit</button>

    </ng-template>

  </div>
</div>


