<div class="container mt-5 w-25">

<form (ngSubmit)="submit()" [formGroup]="loginform">

  <div class="form-group">

    <label for="email">Email:</label>
    <input type="email" name="email" id="email" class="form-control" formControlName="Email">
    <span
    *ngIf="
      !email?.valid &&
      (email?.touched || email?.dirty)
    "
    class="text-danger"
  >
    <span *ngIf="email?.errors?.['required']">
      *Email required
    </span>
  </span>
  </div>

  <div class="form-group">

    <label for="">Password:</label>
    <input type="password" name="password" id="password" class="form-control" formControlName="Password" maxlength="8">
    <span
    *ngIf="
      !password?.valid &&
      (password?.touched || password?.dirty)
    "
    class="text-danger"
  >
    <span *ngIf="password?.errors?.['required']">
      *Password required
    </span>
  </span>
  </div>

  <br>
  <p>
    <a routerLink="/signup" class="fw-bold text-decoration-none text-dark">Not have an Account?</a>
  </p>

  <div class="form-group mt-3">
    <button type="submit" class="w-100 btn btn-primary" [disabled]="!loginform.valid">Login</button>
  </div>
</form>
</div>
