
<div class="container  border border-2 p-5 " >
    <p class="text-center h2 fw-bolder">Calculator</p>
    <br>
    <div class="container ">
        <input type="number" name="num1" id="n1" placeholder="Number 1"  [(ngModel)]="n1" class="form-control">
        <br>
        <br>

        <input type="number" name="num2" id="n2" placeholder="Number 2"  [(ngModel)]="n2"  class="form-control">

        <br>
        <br>


        <input type="radio" name="operation" id="Add" class="m-1" value="Add" [(ngModel)]="operations" >
        <label for="Add">Addition</label>

     
        <input type="radio" name="operation" id="Sub" class="m-1" value="Sub" [(ngModel)]="operations">
        <label for="Sub">Substraction</label>
        
                <input type="radio" name="operation" id="Mul" class="m-1" value="Mul" [(ngModel)]="operations">
                <label for="Mul">Multiplication</label>

        <input type="radio" name="operation" id="Div" class="m-1" value="Div" [(ngModel)]="operations">
        <label for="Div">Division</label>

        <br>
        <br>



        <div class="container bg-danger h3 fw-bold">

            <p>
                Ans:
                {{result}}
            </p>
        </div>
       

        
        <button (click)="mycalc()" type="button" class="btn btn-danger">Calculate</button>

        
        
            

 </div>
</div>