
<div class="container row">
  <div class="col col-lg-2">

    <img src="https://tutorial.dev.radixweb.net/upskill_logo.png" alt="upskill" class="w-100" >
  </div>
  <div class="col col-lg-10 my-auto  text-center">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link " routerLink="/">HOME</a>

            <a class="nav-link " routerLink="/html">HTML</a>
            <a class="nav-link" routerLink="/css">CSS</a>
            <a class="nav-link" routerLink="/js">JS</a>

          </div>
        </div>
      </div>
    </nav>



  </div>
  </div>

