<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 mt-3" *ngFor="let p of products">
        <div class="card" style="width: 18rem;" >
          <img src="{{p.image_URL}}" class="card-img-top" alt="image" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{p.name}}</h5>
            <p class="card-text">{{p.description}}</p>
            <button class="btn btn-danger" (click)="onDelete(p.id)">Delete</button>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
    </div>
  </div>
</div>
