<div class="container-fluid  bg-danger">
  <app-navbar [hideSomeProperties]="true"></app-navbar>
  <div class="bg-danger">

    <div class=" container d-flex ">


      <!-- <select id="city" class="form-select m-3"  (change)="selectcity_serch($event.target)">
        <option value="" selcted >Select city </option>
        <option *ngFor="let item of cities" [value]="item.city">
          {{ item.city }}
        </option>
      </select> -->

      <ng-container *ngIf="selectedcity.length==0;else elsepart">
        <button class="btn bg-white form-select m-3 text-start " type="button" id="triggerId" data-bs-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">


          Select City

        </button>
      </ng-container>
      <ng-template #elsepart>

        <button class="btn bg-white form-select m-3 text-start " type="button" id="triggerId" data-bs-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">


          {{ selectedcity }}

        </button>
      </ng-template>

      <div class="dropdown-menu" aria-labelledby="triggerId">
        <ng-container *ngFor="let item of cities">
          <button class="dropdown-item  " [value]="item.city" (click)="selectcity_serch(item.city)">
            {{ item.city }}
          </button>
        </ng-container>
      </div>


      <select id="city" class="form-select m-3" (change)="selectpropfor_serch($event.target)">
        <option value="" selcted>Select Property For</option>

        <option *ngFor="let item of prop_for" [value]="item.propfor">
          {{ item.propfor }}
        </option>
      </select>


      <select id="city" class="form-select m-3 " (change)="selectproptype_serch($event.target)">
        <option value="" selcted>Select Property Type</option>

        <option *ngFor="let item of prop_type" [value]="item.type">
          {{ item.type }}
        </option>
      </select>

      <select id="city" class="form-select m-3" (change)="selectPropPostedBy_serch($event.target)">
        <option value="" selcted>Select Posted By</option>

        <option *ngFor="let item of prop_postedby" [value]="item.postedby">
          {{ item.postedby }}
        </option>
      </select>


      <!-- <select id="city" class="form-select m-3">
        <option value="" selcted >Budget</option>


      </select> -->


      <button class="btn btn-danger form-select  m-3 bg-white text-dark text-start" type="button" id="triggerId"
        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

        Budget
      </button>
      <div class="dropdown-menu p-2" aria-labelledby="triggerId">


        <div class="d-flex justify-content-evenly">

          <input type="number" class="form-control " name="min" id="min" [(ngModel)]="min" placeholder="min" min="0">

          <input type="number" class="form-control " name="max" id="max " [(ngModel)]="max" placeholder="max" min="0">

        </div>

        <button class="btn btn-danger mt-2 " (click)="selectBudget_serch()">Find</button>


      </div>





      <button type="button" class="btn btn-light m-3" data-bs-toggle="modal"
        data-bs-target="#exampleModal">Filters</button>

    </div>
  </div>

</div>









<!-- <p>{{ data | json }}</p> -->





<div class="container mt-5">

  <select id="sorting" class="form-select mb-5 w-25" (change)="sorting($event.target)">
    <option value="default" selcted>Sort by: Relevance</option>
    <option value="lth">Sort by: Low to High</option>
    <option value="htl">Sort by: High to Low</option>



  </select>




  <!-- data displaying -->

  <ng-container *ngFor="let x of data">
    <div class="row my-2">
      <div class="card ">
        <div class="row p-3">
          <div class="col-md-4" (click)="propview(x.prop_Id)">
            <img src="{{ x.imageUrl[0].Image_url }} " alt="prop_Image" class="card-img" class="card-img custom-img" />
            <br />
            <p class="fs-4">Owner Name: {{ x.owner_Name }}</p>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-8">
                <div class="d-flex justify-content-between">
                  <h5 class="card-title fs-3">{{ x.building_Name }}</h5>
                  <button class="btn border border-white" (click)="putinwhishlist(x.prop_Id)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" [ngStyle]="{
                          fill: arr.includes(x.prop_Id) ? 'red' : 'black'
                        }" class="bi bi-heart" viewBox="0 0 16 16">
                      <path
                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                    </svg>
                  </button>
                </div>

                <div (click)="propview(x.prop_Id)">
                  <p class="card-text">
                    <span class="fw-bold">Address: </span>{{ x.area }},{{
                    x.city
                    }},{{ x.state }},{{ x.building_Name }}
                  </p>
                  <p class="card-text">
                    <small class="text-body-secondary"><span class="fw-bold">Posted On:</span>
                      {{ x.createdDate }}</small>
                  </p>
                  <p class="card-text">
                    <small class="text-secondary">
                      {{ x.prop_desc }}</small>
                  </p>
                </div>
              </div>

              <div class="col-md-4">
                <p class="card-text fs-4">
                  <span class="fw-bold">Rs:</span> {{ x.price }}
                </p>

                <p>
                  <button class="btn btn-white border border-2 border-danger text-danger p-2 rounded-5">
                    Request Callback
                  </button>
                </p>

                <p>
                  <button class="btn btn-danger p-2 rounded-5">
                    Get Property Info
                  </button>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <br>

  </ng-container>




</div>
<div class="container-fluid ">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <app-footer></app-footer>
</div>

<!-- <p>
  {{x|json}}
</p> -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Filters</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">


        <div>
          <label for="city">city</label>
          <select [(ngModel)]="city" id="city" class="form-select">
            <option value="" disabled>Select city</option>

            <option *ngFor="let item of cities" [value]="item.city">
              {{ item.city }}
            </option>
          </select>
        </div>
        <br />
        <div>
          <label for="type">Property For</label>

          <select [(ngModel)]="propfor" id="type" class="form-select =">
            <option value="" disabled>Select Property For</option>

            <option *ngFor="let item of prop_for" [value]="item.propfor">
              {{ item.propfor }}
            </option>
          </select>
        </div>
        <br />

        <div>
          <label for="type">Property Type</label>

          <select [(ngModel)]="proptype" id="type" class="form-select =">
            <option value="" disabled>Select Property Type</option>

            <option *ngFor="let item of prop_type" [value]="item.type">
              {{ item.type }}
            </option>
          </select>
        </div>
        <br />

        <div>
          <label for="Min">Min</label>
          <input type="number" id="Min" min="0 " [(ngModel)]="min" class="form-control" placeholder="Min" />
          <br />

          <label for="Max">Max</label>

          <input type="number" id="Max" min="0 " [(ngModel)]="max" class="form-control" placeholder="Max" />
        </div>
        <br />




      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" (click)="getfilter()" data-bs-dismiss="modal">Apply filter</button>
      </div>
    </div>
  </div>
</div>
