<div class="container-fluid bg-light" style="height: 100vh">
  <app-navbar></app-navbar>

  <!-- Nav tabs -->

  <div class="container col col-md-6 mt-5">
    <div class="my-3">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active text-dark fw-bold"
            id="profile-tab"
            data-bs-toggle="tab"
            data-bs-target="#profile"
            type="button"
            role="tab"
            aria-controls="profile"
            aria-selected="false"
          >
            Profile
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link text-dark fw-bold"
            id="messages-tab"
            data-bs-toggle="tab"
            data-bs-target="#listing"
            type="button"
            role="tab"
            aria-controls="messages"
            aria-selected="false"
          >
            My Listing
          </button>
        </li>
      </ul>
    </div>

    <div class="border border-1 bg-white p-3">
      <div class="tab-content">
        <div
          class="tab-pane active"
          id="profile"
          role="tabpanel"
          aria-labelledby="profile-tab"
        >
          <p class="fw-bold h5 text-danger my-5">Profile Details:</p>
          <div class="mx-5" *ngFor="let x of userdetails">
            <p>
              <span class="fw-bold"> Name: </span>
              {{ x.name }}
            </p>
            <p><span class="fw-bold"> Email: </span> {{ x.email }}</p>

            <!-- <p>
      {{userdetails|json}}
    </p> -->
          </div>
          <br />
          <br />
          <a href="" class="text-danger text-decoration-none"
            >Update profile?</a
          >
        </div>
        <div
          class="tab-pane"
          id="listing"
          role="tabpanel"
          aria-labelledby="listing-tab"
        >
          <ng-container *ngIf="userlistings.length > 0; else elsepart">
            <div>posts will be there</div>
          </ng-container>

          <ng-template #elsepart>
            <p class="fw-bold text-secondary my-5 text-center">
              You haven't posted yed
            </p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>


<p>
  {{
    userlistings|json
  }}
</p>
