<div class="container-fluid  ">
  <app-navbar [hideSomeProperties]="true"></app-navbar>

  <!-- Nav tabs -->

  <div class="container col col-md-6 mt-5     mb-5">
    <div class="my-3">
      <ul class="nav nav-tabs " id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active text-dark fw-bold    " id="profile-tab" data-bs-toggle="tab"
            data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">
            Profile
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link text-dark fw-bold " id="messages-tab" data-bs-toggle="tab" data-bs-target="#listing"
            type="button" role="tab" aria-controls="messages" aria-selected="false">
            My Listing
          </button>
        </li>
      </ul>
    </div>

    <div class="border border-2 bg-light p-3  rounded-3">
      <div class="tab-content">
        <div class="tab-pane active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <p class="fw-bold h5 text-danger my-5">Profile Details:</p>
          <div class="mx-5" *ngFor="let x of userdetails">
            <p>
              <span class="fw-bold"> Name: </span>
              {{ x.name }}
            </p>
            <p><span class="fw-bold"> Email: </span> {{ x.email }}</p>

                      <!-- <p>
                {{userdetails|json}}
              </p> -->
          </div>
          <br />
          <br />
          <a href="" class="text-danger text-decoration-none">Update profile?</a>
        </div>
        <div class="tab-pane" id="listing" role="tabpanel" aria-labelledby="listing-tab">
          <ng-container *ngIf="userlistings.length > 0; else elsepart">
            <!-- <div>posts will be there</div>
            <p>
              {{
                userlistings|json
              }}
            </p> -->

            <ng-container *ngFor="let x of userlistings">
              <div class="row m-2   ">
                <div class="card ">
                  <div class="row p-3">
                    <div class="col-md-4" (click)="propview(x.prop_Id)">
                      <img src="{{ x.imageUrl[0].Image_url }} " alt="prop_Image" class="card-img"
                        class="card-img custom-img" />
                      <br />
                      <p class="fs-6">Owner Name: {{ x.owner_Name }}</p>
                    </div>
                    <div class="col-md-8">
                      <div class="row">
                        <div class="col-md-8">
                          <div class="d-flex justify-content-between">
                            <h5 class="card-title fs-3">{{ x.building_Name }}</h5>

                          </div>

                          <div (click)="propview(x.prop_Id)">
                            <p class="card-text">
                              <span class="fw-bold">Address: </span>{{ x.area }},{{
                              x.city
                              }},{{ x.state }},{{ x.building_Name }}
                            </p>
                            <p class="card-text">
                              <small class="text-body-secondary"><span class="fw-bold">Posted On:</span>
                                {{ x.createdDate }}</small>
                            </p>
                            <p class="card-text">
                              <small class="text-secondary">
                                {{ x.prop_desc }}</small>
                            </p>
                          </div>
                        </div>

                        <div class="col-md-4 text-center">
                          <p class="card-text fs-5">
                             {{ x.price |indianCurrency }}
                          </p>



                            <button class="btn btn-warning  mx-2" (click)="editListing(x.prop_Id)">Edit</button>



                            <button class="btn btn-danger" (click)="deleteListing(x.prop_Id)">Delete</button>




                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>



              <br>

            </ng-container>

          </ng-container>

          <ng-template #elsepart>
            <p class="fw-bold text-secondary my-5 text-center">
              You haven't posted yet
            </p>


          </ng-template>
        </div>
      </div>
    </div>
  </div>


    <app-footer ></app-footer>

</div>
