<div class="container">
  {{ inputdata | json }}

  <form (ngSubmit)="onSubmit()" [formGroup]="form" class="w-50">
    <!-- //useing inputdta for naming and all -->

    <div *ngFor="let question of inputdata" class="form-row">
      <div [ngSwitch]="question.controlType">


        <ng-container *ngSwitchCase="'textbox'">
          <label class="fw-bold">{{ question.label }}</label>
          <input
            [type]="question.type"
            class="form-control"
            [id]="question.key"
            [formControlName]="question.key"
          />
        </ng-container>

        <ng-container *ngSwitchCase="'textarea'">
          <label class="fw-bold">{{ question.label }}</label>
          <textarea
            class="form-control"
            [id]="question.key"
            [formControlName]="question.key"
          ></textarea>
        </ng-container>



        <ng-container *ngSwitchCase="'radio'">
          <label class="fw-bold">{{question.label}}</label><br>
          <div class="form-check form-check-inline">
            <label [for]="option.key" *ngFor="let option of question.options" class="form-check-label me-5">
              <input type="radio" [value]="option.key" [id]="option.key" [name]="question.key" [formControlName]="question.key" >
              {{option.value}}
            </label>
          </div>
        </ng-container>







        <ng-container *ngSwitchCase="'select'">
          <label class="fw-bold">
            {{ question.label }}
          </label>
          <select [formControlName]="question.key" class="form-select w-50">
            <option
              *ngFor="let option of question.options"
              [value]="option.value"
            >
              {{ option.key }}
            </option>
          </select>
        </ng-container>


        <ng-container *ngSwitchCase="'checkbox'">
          <label class="fw-bold">
            {{ question.label }}
          </label>
          <div [formArrayName]="question.key">
            <ng-container *ngFor="let option of question.options;let i=index">
              <input type="checkbox" [formControlName]="i" [value]="option.value" >{{option.key}}
            </ng-container>
          </div>
        </ng-container>


      </div>
    </div>
<br>

    <button type="submit" class="btn btn-primary mt-3">Save</button>
  </form>

  <h1>{{ payload }}</h1>
</div>
