<h3>Brands:</h3>
<div
  *ngFor="let item of product; let i = index"
  [ngStyle]="{
    color: item === 'Apple' ? 'green' : 'red',
    'background-color': 'grey',
    'font-size': '25px'
  }"
  ngsw
>
  <p>
    {{ item }}
  </p>
</div>

<div *ngFor="let items of product">
  <p *ngIf="items === 'Apple'; else else_block" [ngStyle]="{ color: 'red' }">
    {{ items }}
  </p>
  <ng-template #else_block>
    {{ items }}
  </ng-template>
</div>

<br>
<br>

<div [ngSwitch]="Occupation">
  <h2 *ngSwitchCase="'doctor'" >Doctor</h2>
  <h2 *ngSwitchCase="'teacher'" >Teacher</h2>
  <h2 *ngSwitchCase="'devloper'" >Devloper</h2>

  <h2 *ngSwitchDefault>None</h2>
</div>
