<div class="container">
  <p class="fs-2" style="text-decoration: underline; text-decoration-color: rgb(223, 68, 68)">
    Your Real Estate Guide
  </p>

  <div class="row justify-content-between">
    <div class=" col-md-5 col-sm-12 my-3 border border-2 p-3 rounded-3 ">
      <p class="fw-bold fs-5">Industry Insights</p>
      <div>
        <p>
          <a class="mx-2 text-decoration-none text-dark"
            href="https://www.magicbricks.com/blog/sale-deed-meaning-format/125757.html" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="rgb(223, 68, 68)"
              class="bi bi-file-earmark-medical-fill" viewBox="0 0 16 16">
              <path
                d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zm-3 2v.634l.549-.317a.5.5 0 1 1 .5.866L7 7l.549.317a.5.5 0 1 1-.5.866L6.5 7.866V8.5a.5.5 0 0 1-1 0v-.634l-.549.317a.5.5 0 1 1-.5-.866L5 7l-.549-.317a.5.5 0 0 1 .5-.866l.549.317V5.5a.5.5 0 1 1 1 0zm-2 4.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1zm0 2h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1z" />
            </svg>
            Sale Deed - Meaning, Format, and Components of a Sale Deed</a>
        </p>
        <hr />
        <p>
          <a class="mx-2 text-decoration-none text-dark"
            href="https://www.magicbricks.com/blog/sale-deed-meaning-format/125757.html" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="rgb(223, 68, 68)"
              class="bi bi-file-earmark-medical-fill" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
              <path
                d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z" />
            </svg>
            What is an Occupancy Certificate - and Why is it Necessary</a>
        </p>
        <hr />
        <p>
          <a class="mx-2 text-decoration-none text-dark"
            href="https://www.magicbricks.com/blog/what-is-rera-carpet-area/126147.html" target="_blank">

            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="rgb(223, 68, 68)"
              class="bi bi-file-earmark-medical-fill" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
              <path
                d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z" />
            </svg>
            What Does RERA Carpet Area Mean & How is it Calculated</a>
        </p>
        <hr />

        <p>
          <a class="mx-2 text-decoration-none text-dark" target="_blank"
            href="https://www.magicbricks.com/blog/anyror-gujarat/115759.html">

            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill=" rgb(223, 68, 68)"
              class="bi bi-file-earmark-medical-fill" viewBox="0 0 16 16">
              <path
                d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zm-3 2v.634l.549-.317a.5.5 0 1 1 .5.866L7 7l.549.317a.5.5 0 1 1-.5.866L6.5 7.866V8.5a.5.5 0 0 1-1 0v-.634l-.549.317a.5.5 0 1 1-.5-.866L5 7l-.549-.317a.5.5 0 0 1 .5-.866l.549.317V5.5a.5.5 0 1 1 1 0zm-2 4.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1zm0 2h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1z" />
            </svg>
            AnyROR Gujarat 2023: Check Gujarat Land Records 7/12 (Satbara Utara)
            Online</a>
        </p>
        <hr />
        <p>
          <a class="mx-2 text-decoration-none text-dark"
            href="https://www.magicbricks.com/blog/jantri-rate-gujarat/116101.html" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="rgb(223, 68, 68)"
              class="bi bi-file-earmark-medical-fill" viewBox="0 0 16 16">
              <path
                d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zm-3 2v.634l.549-.317a.5.5 0 1 1 .5.866L7 7l.549.317a.5.5 0 1 1-.5.866L6.5 7.866V8.5a.5.5 0 0 1-1 0v-.634l-.549.317a.5.5 0 1 1-.5-.866L5 7l-.549-.317a.5.5 0 0 1 .5-.866l.549.317V5.5a.5.5 0 1 1 1 0zm-2 4.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1zm0 2h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1z" />
            </svg>
            Jantri Rate 2023</a>
        </p>

        <br>

        <a class="text-decoration-none text-danger fs-6 fw-bold"
          href="https://www.magicbricks.com/blog/news-in-Ahmedabad/type-ind-insight/tag-4d4241686d656461626164/cat-Buy"
          target="_blank">See all
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-forward-fill"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
          </svg></a>
      </div>
    </div>

    <div class=" col-md-5 col-sm-12 my-3 border border-2 p-3 rounded-3">
      <p class="fw-bold fs-5">Legal Updates</p>
      <div>

        <br>

        <div class="card mb-3" style="max-width: 540px;">
          <div class="row ">
            <div class="col-md-4 ">
              <a href="https://www.youtube.com/watch?v=Tbrm-8Dj7rw" target="_blank">
                <img src="../../../assets/images/vid_img.png" class="img-fluid rounded w-150 "


                  alt="..."

                  ></a>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Inheritance Laws In India - All You Need to Know
                </h5>
                <p class="card-text">
                  <a href="https://www.youtube.com/watch?v=Tbrm-8Dj7rw" class="text-danger text-decoration-none fw-bold"
                    target="_blank"> Watch video <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                      fill="currentColor" class="bi bi-forward-fill" viewBox="0 0 16 16">
                      <path fill-rule="evenodd"
                        d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                    </svg></a>
                </p>
              </div>
            </div>

          </div>
        </div>
        <br>




        <div class="card  mb-4" >
          <div class="row g-0">
            <div class="col-md-4">
              <a href="https://www.magicbricks.com/blog/anyror-gujarat/115759.html" target="_blank">
                <img src="../../../assets/images/reg_img.png" class="img-fluid rounded w-100"


                   alt="..."></a>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">AnyROR Gujarat 2023</h5>
                <p class="card-text">
                  <a href="https://www.magicbricks.com/blog/anyror-gujarat/115759.html"
                    class="text-danger text-decoration-none fw-bold" target="_blank"> Read article <svg
                      xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                      class="bi bi-forward-fill" viewBox="0 0 16 16">
                      <path fill-rule="evenodd"
                        d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                    </svg></a>
                </p>
              </div>
            </div>
          </div>
        </div>



        <a class="text-decoration-none text-danger fs-6 fw-bold"
          href="https://www.magicbricks.com/blog/news-in-Ahmedabad/type-o/tag-Legal,See_More" target="_blank">See all
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-forward-fill"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
          </svg></a>
      </div>
    </div>

  </div>
</div>
