<!-- <p>{{data | json}}</p> -->

<div class="container-fluid">

  <p class="fw-bolder h2 text-center m-5">Select Movie from DropDown</p>

<div *ngFor="let item of data" class="text-center m-2">


    <select name=""  #x (change)="fun(x.value)"  >
      <option value="" selected>Select Option</option>
      <option value="{{a.MovieName}}" *ngFor="let a of item.Movies"  >


         {{a.MovieName}}
        </option>
    </select>

</div>


<div class="container-fluid bg-danger text-white" *ngFor="let x of moviedetail">


<!-- <p>
  {{
    x.MovieID
  }}
</p> -->

<div class="row text-center h2 p-3">
  <p>  {{
    x.Details.DirectorName
  }}</p>
</div>

<div class="row">
  <div class="col col-1">
    <p class="fw-bolder h5">Movie Name</p>
    <p class="fw-bolder">  {{
      x.MovieName
    }}</p>
  </div>

  <div class="col col-10">
    <video [src]="x.Details.VideoLink" autoplay controls class="w-100 rounded-5"></video>
  </div>

  <div class="col col-1">
    <p class="fw-bolder h5 ">
      Actors</p>

    <ng-container *ngFor="let x of x.Details.ActorsNames">
      <p class="fw-bolder">{{x}}</p>
    </ng-container>
  </div>
</div>


</div>



</div>


