<div class="container mt-5">
  <p class="fw-bold text-center h3">Student form</p>
  <form [formGroup]="student_data" (ngSubmit)="onsubmit()" class="p-5" >


    <div class="form-group m-2">

      <label for="id">Id:</label>
      <input type="text" name="id" id="id" formControlName="Id" class="form-control">
      <span *ngIf="!Id?.valid && (Id?.dirty ||Id?.touched)" class="text-danger">
        Id is not valid

      </span>
    </div>


    <div class="form-group m-2">

        <label for="fnm">Full_name:</label>
        <input type="text" name="fname" id="fnm" formControlName="Full_name"  class="form-control">
        <span *ngIf="!Full_name?.valid && (Full_name?.dirty ||Full_name?.touched)" class="text-danger">
          Full_name is not valid

        </span>

      </div>

      <div class="form-group m-2">

        <label for="branch">Branch:</label>
        <input type="text" name="branch" id="branch" formControlName="Branch"  class="form-control">
        <span *ngIf="!Branch?.valid && (Branch?.dirty ||Branch?.touched)" class="text-danger">
          Branch is not valid

        </span>
      </div>



      <div class="form-group m-2">

        <label for="address">Address:</label>
        <input type="text" name="address" id="address" formControlName="Address"  class="form-control">
        <span *ngIf="Address?.valid && (Address?.dirty ||Address?.touched)" class="text-danger">
          Address is not valid

        </span>
      </div>
      <div class="form-group m-2">

      <button type="submit" class="btn btn-primary" [disabled]="!student_data.valid">submit</button>
      </div>
  </form>


</div>
<div class="text-center">
  <p class="fw-bold h3">Form data</p>
<p class="fw-bold h4">
  {{  student|json
  }}</p>


</div>
<br>
<br>
<div class="container">

<table  class="table ">
  <thead>

    <tr>
      <th>Id</th>
      <th>Full_name</th>
      <th>Branch</th>
      <th>Address</th>

    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let x of student">
      <td>{{x.Id}}</td>
      <td>{{x.Full_name}}</td>
      <td>{{x.Branch}}</td>
      <td>{{x.Address}}</td>

    </tr>
  </tbody>
</table>

</div>
