<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 bg-danger">
      <p class="h3 text-light p-2">magicbricks</p>
    </div>
  </div>

  <div class="row">
    <div
      class="col-md-3"
      style="
        background: url('../../assets/images/jessi-pena-Bm7jy2JWHbg-unsplash.jpg');
        background-size: cover;
        opacity: 0.9;
      "
    >
      <div class="text-left m-5">
        <p class="mt-5 h1 text-light">
          Things you Can Do
          <br />
          with
          <br />
          Magicbricks
          <br />
          Account
        </p>

        <br />

        <ul class="h5" style="color: rgb(222, 231, 231)">
          <li class="my-2">Things you Can Do with</li>

          <li class="my-2">Magicbricks Account</li>
          <li class="my-2">Post one Single Property for FREE</li>
          <li class="my-2">Set property alerts for your requirement</li>
          <li class="my-2">Get accessed by over 1 Lakh buyers</li>
          <li class="my-2">Showcase your property as Rental, PG or for Sale</li>
          <li class="my-2">Get instant queries over Phone, Email and SMS</li>

          <li class="my-2">
            Performance in search & Track responses & views online
          </li>

          <li class="my-2">
            Add detailed property information & multiple photos per listing
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-9 bg-success">

      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center p-5 bg-dark text-light">
      <p>&copy; Magicbrick</p>

      <a routerLink="#" class="m-2 text-decoration-none text-light">Sitemap</a>
      <a routerLink="#" class="m-2 text-decoration-none text-light">AboutUs</a>
      <a routerLink="#" class="m-2 text-decoration-none text-light">T&C</a>
      <a routerLink="#" class="m-2 text-decoration-none text-light">Privacy</a>
    </div>
  </div>
</div>
