<!-- Nav tabs -->
<ul class="nav nav-tabs fw-bold" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button
      class="nav-link "
      id="home-tab"
      data-bs-toggle="tab"
      data-bs-target="#home"
      type="button"
      role="tab"
      aria-controls="home"
      aria-selected="true"
      routerLink="/products"
    >
      Products
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="profile-tab"
      data-bs-toggle="tab"
      data-bs-target="#profile"
      type="button"
      role="tab"
      aria-controls="profile"
      aria-selected="false"
      routerLink="/Addproducts"

    >
      Add Product
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="messages-tab"
      data-bs-toggle="tab"
      data-bs-target="#messages"
      type="button"
      role="tab"
      aria-controls="messages"
      aria-selected="false"
      (click)="logout()"
    >
      Logout
    </button>
  </li>
</ul>
