<div class="row">
  <div class="col-6">
    <div class="container">
     <p class="h3 fw-bolder  text-center">Products</p>
     <br>
   
     <table class="table">
       <thead>
         <tr>
           <th>Brand</th>
           <th>Model</th>
           
           
         </tr>
       </thead>
       <tbody >
         <tr *ngFor="let item of data">
           <td>
             {{ item.Brand }}
           </td>
           <td>
             {{ item.Model }}
           </td>
           
   
           <td>
             <button type="button" class="btn btn-danger my-auto"  (click)="myfunc2(item)">Details</button>
           </td>
         </tr>
       </tbody>
     </table>
   </div>
 </div>
 <div class="col-6">
  <app-view [data]="Pdetails"></app-view>
 </div>
</div>

  
   

    