<div class="container">
  <app-navbar> </app-navbar>
</div>

  <div class="container mt-5 w-25">
    <form (ngSubmit)="submit()" [formGroup]="addproduct">
      <div class="form-group">
        <label for="Pname">Product name:</label>
        <input
          type="text"
          name="Pname"
          id="Pname"
          class="form-control"
          formControlName="Pname"
        />

        <span
        *ngIf="
          !Pname?.valid &&
          (Pname?.touched || Pname?.dirty)
        "
        class="text-danger"
      >
        <span *ngIf="Pname?.errors?.['required']">
          *Pname required
        </span>
        <span *ngIf="Pname?.errors?.['pattern']">
          *Pname shulld be text
        </span>
      </span>
      </div>


      <div class="form-group">
        <label for="Pdescription">Product description:</label>
        <input
          type="text"
          name="Pdescription"
          id="Pdescription"
          class="form-control"
          formControlName="description"
        />
        <span
        *ngIf="
          !description?.valid &&
          (description?.touched || description?.dirty)
        "
        class="text-danger"
      >
        <span *ngIf="description?.errors?.['required']">
          *description required
        </span>


        <span *ngIf="Pname?.errors?.['maxLength']">
          *maxlength excedded
        </span>
      </span>
      </div>

      <div class="form-group">
        <label for="Category">Category:</label>
        <select name="Category" id="Category" formControlName="cat" class="form-control" (change)="getsubcat($event.target)">
          <ng-container *ngFor="let x of categories">
            <option value="{{x.id}}">{{x.category}}</option>
          </ng-container>
        </select>
        <span
        *ngIf="
          !cat?.valid &&
          (cat?.touched || cat?.dirty)
        "
        class="text-danger"
      >
        <span *ngIf="cat?.errors?.['required']">
          *category is required
        </span>

      </span>
      </div>

      <div class="form-group">
        <label for="Subcategory">Subcategory:</label>
        <select name="Subcategory" id="Subcategory" formControlName="subcat" class="form-control">
          <ng-container *ngFor="let x of subcategories">
            <option value="{{x.id}}">{{x.category}}</option>
          </ng-container>
        </select>

        <span
        *ngIf="
          !subcat?.valid &&
          (subcat?.touched || subcat?.dirty)
        "
        class="text-danger"
      >
        <span *ngIf="subcat?.errors?.['required']">
          *Subcategory is required
        </span>

      </span>
      </div>


      <div class="form-group">
        <label for="Photo">Photo:</label>
        <input
          type="file"
          name="Photo"
          id="Photo"
          class="form-control"
          formControlName="Photo"
        />
        <span
        *ngIf="
          !Photo?.valid &&
          (Photo?.touched || Photo?.dirty)
        "
        class="text-danger"
      >
        <span *ngIf="Photo?.errors?.['required']">
          *Photo is required
        </span>

      </span>
      </div>

      <div class="form-group">
        <label for="Qty">Qty:</label>
        <input
          type="text"
          name="Qty"
          id="Qty"
          class="form-control"
          formControlName="Qty"
        />

        <span
        *ngIf="
          !Qty?.valid &&
          (Qty?.touched || Qty?.dirty)
        "
        class="text-danger"
      >
        <span *ngIf="Qty?.errors?.['required']">
          *Qty is required
        </span>
        <span *ngIf="Qty?.errors?.['pattern']">
          *Qty must be in digit only
        </span>

      </span>
      </div>

      <div class="form-group">
        <label for="Price">Price:</label>
        <input
          type="text"
          name="Price"
          id="Price"
          class="form-control"
          formControlName="Price"
        />

        <span
        *ngIf="
          !Price?.valid &&
          (Price?.touched || Price?.dirty)
        "
        class="text-danger"
      >
        <span *ngIf="Price?.errors?.['required']">
          *Price is required
        </span>

        <span *ngIf="Price?.errors?.['pattern']">
          *Price must be in digit only
        </span>

      </span>
      </div>


      <div class="form-group mt-3">
        <button type="submit" class="w-100 btn btn-primary" [disabled]="!addproduct.valid">Add Product</button>
      </div>
    </form>
  </div>


  {{
    subcategories|json
  }}




  {{
    categories|json
  }}
