<div class="container mt-5 w-25">

  <form (ngSubmit)="submit()" [formGroup]="registerform">




    <div class="form-group">



      <label for="Uname">Username:</label>
      <input type="Uname" name="Uname" id="Uname" class="form-control" formControlName="Uname">
    </div>


    <div class="form-group">



      <label for="email">Email:</label>
      <input type="email" name="email" id="email" class="form-control" formControlName="Email">
    </div>


    <div class="form-group">



      <label for="Phone_No">Phone_No:</label>
      <input type="Phone_No" name="Phone_No" id="Phone_No" class="form-control" formControlName="Phone_No" maxlength="10">
    </div>




    <div class="form-group">



      <label for="">Password:</label>
      <input type="password" name="password" id="password" class="form-control" formControlName="Password" maxlength="8">
    </div>

    <br>
    <p>

      <a routerLink="/login" class="fw-bold text-decoration-none text-dark">Alredy have an Account?</a>
    </p>


    <div class="form-group mt-3">

      <button type="submit" class="w-100 btn btn-primary">Signup</button>
    </div>
  </form>
  </div>
