<div class="container-fluid">


<div class=" row bg-light p-3 " style="height: 100vh;">


    <div class="accordion accordion-flush col col-lg-2" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Day 1
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <ul class="list-unstyled">
              <li>
                <a routerLink="html/as1" class="text-decoration-none">Assignment 1</a>
              </li>
              <li>
                <a routerLink="html/as2" class="text-decoration-none">Assignment 2</a>
              </li>
              </ul>
          </div>

      </div>



    </div>



</div>
<div class="col col-lg-10">

  <router-outlet>

  </router-outlet>
  </div>
</div>
