<p class="fw-bolder text-center mt-5">circle works!</p>


<div class="container mt-5 d-flex justify-content-center border border-2 rounded-1">
    <div class="container  m-5">
    <p class="fw-bolder text-center ">Area Of circle:</p>

      <input type="number" class="form-control" placeholder="Enter Radius:" [(ngModel)]="radius">
      <br>
      <button class="btn btn-danger w-100" (click)="myfunc()">Calculate</button>

      <div class="container mt-5 text-center">
        <p class="fw-bolder ">{{result}} </p>
      </div>
    </div>
  </div>
  